@model PECOM.ITEMS

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ITEMS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuantityPerUnit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuantityPerUnit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Discontinued)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Discontinued)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductClass)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductClass)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SPECODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SPECODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SPECODE1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SPECODE1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SPECODE2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SPECODE2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SPECODE3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SPECODE3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EXP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EXP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EXP1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EXP1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EXP2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EXP2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EXP3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EXP3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ADDDATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ADDDATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EDITDATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EDITDATE)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
